{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}

        {{ form_start(registrationForm) }}

            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.plainPassword) }}

            <button class="btn btn-warning btn-lg">Enregistrement</button>

        {{ form_end(registrationForm) }}
    {% else %}
        <h2>ACCES REFUSE<H2>
    {% endif %}
    
{% endblock %}
