{% extends 'base.html.twig' %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
  <table>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.username }} </td>  

          <td> <a class="btn" href="{{ path('user_delete', {'id':user.id}) }}"> Delete </td>   </ac>

        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
<h2>ACCES REFUSE<H2>
{% endif %}

{% endblock %}


