{% extends 'base.html.twig' %}

{% block body %}

        {% for module in formation.modules %}

                <p>{{ module.nom }} : durée du module, nom des formateurs</p>

        {% endfor %}

{% endblock %}
