{% extends 'base.html.twig' %}

{% block body %}

        {% if formation.modules %}
                {% for module in formation.modules %}

                        <p>{{ module.nom }} : durée du module, nom des formateurs</p>

                {% endfor %}
        {% endif %}

{% endblock %}
