h1{
    color:chocolate;
    text-align: center;
}

a{
    text-decoration: none;
    color: chocolate;
}

th, td{
    color: chocolate;
}

.decernediplome{
    font-style: oblique;
    color: darkgoldenrod;
}

